In [1]:
import os
import glob
import pandas as pd

# Define the path to the folder containing the CSV files
path = 'output/'

# Use glob to grab all CSV files in the folder and its subfolders
csv_files = glob.glob(os.path.join(path, '**/*.csv'), recursive=True)

# Loop through the CSV files and read them into pandas dataframes
dfs = []
for file in csv_files:
    # df = pd.read_csv(file)
    # dfs.append(df)
    print(file)

# sort the files by name
dfs.sort(key=lambda x: x.name)

output/SP_AffineNet1_alt_21100_0.0001_0_10_1_20231108-143907_test/metrics.csv
output/SP_AffineNet1_alt_11100_0.0001_0_20_1_20231108-094956_test/metrics.csv
output/SP_AffineNet1_alt_21100_0.0001_0_10_1_20231108-150147_test/metrics.csv

In [4]:
out = pd.read_csv('output/SP_AffineNet1_alt_21100_0.0001_0_10_1_20231108-150147_test/metrics.csv')
# out = out.drop(columns=['Unnamed: 0'])

# calculate the mean and std of the metrics, write to the last row of the same csv file
out.loc['mean'] = out.mean()
out.loc['std'] = out.std()
out.to_csv('output/SP_AffineNet1_alt_21100_0.0001_0_10_1_20231108-150147_test/metrics.csv')

In [3]:
ours_0_5_1 = pd.read_csv("output/11100_0.001_0_5_1_20231031-133151_test/metrics.csv")
ours_0_5_2 = pd.read_csv("output/11100_0.001_0_5_1_20231031-133413_test/metrics.csv")

ours_5_10_unsup_dataset0 = pd.read_csv("output/00100_0.001_5_10_1_20231031-134455_test/metrics.csv")
ours_5_10_unsup_dataset1 = pd.read_csv("output/10100_0.001_5_10_1_20231031-134323_test/metrics.csv")

In [3]:
ours_0_5.head()

,index,mse_before,mse12,tre_before,tre12,mse12_image_before,mse12_image,ssim12_image_before,ssim12_image
0,0,131.369565,245.415752,16.156405,22.024622,0.031962,0.038821,0.286426,0.269224
1,1,268.943182,366.746459,23.095541,26.991879,0.048232,0.054140,0.247948,0.253087
2,2,367.637931,305.599963,27.079055,24.439393,0.013041,0.011939,0.500452,0.540081
3,3,35.643750,29.418995,8.392475,7.597954,0.005899,0.005888,0.534967,0.542999
4,4,257.835294,363.745695,22.648766,26.890180,0.017294,0.019936,0.323983,0.340576

In [10]:
# calculate mean of all columns
print("Mean")
print(ours_0_5_1.mean(), "\n")
print("Std")
print(ours_0_5_1.std())

Mean
index                   54.000000
mse_before             221.675954
mse12                  218.086978
tre_before              19.874568
tre12                   19.691369
mse12_image_before       0.022734
mse12_image              0.022369
ssim12_image_before      0.408081
ssim12_image             0.429739
dtype: float64

Std
index                   31.609598
mse_before             125.276571
mse12                  126.412198
tre_before               6.869723
tre12                    6.778475
mse12_image_before       0.010642
mse12_image              0.011155
ssim12_image_before      0.105780
ssim12_image             0.101786
dtype: float64

In [15]:
pd.DataFrame(ours_0_5_1.mean()).transpose()

,index,mse_before,mse12,tre_before,tre12,mse12_image_before,mse12_image,ssim12_image_before,ssim12_image
0,54.0,221.675954,218.086978,19.874568,19.691369,0.022734,0.022369,0.408081,0.429739

In [11]:
print("Mean")
print(ours_5_10_unsup_dataset0.mean(), "\n")
print("Std")
print(ours_5_10_unsup_dataset0.std())

Mean
index                    49.500000
mse_before              985.686598
mse12                  1016.224249
tre_before               39.024442
tre12                    39.577660
mse12_image_before        0.054492
mse12_image               0.051303
ssim12_image_before       0.324389
ssim12_image              0.336992
dtype: float64

Std
index                   29.011492
mse_before             893.727401
mse12                  946.557289
tre_before              17.969663
tre12                   18.073820
mse12_image_before       0.028834
mse12_image              0.024858
ssim12_image_before      0.080152
ssim12_image             0.073141
dtype: float64

In [16]:
pd.DataFrame(ours_5_10_unsup_dataset0.mean()).transpose()

,index,mse_before,mse12,tre_before,tre12,mse12_image_before,mse12_image,ssim12_image_before,ssim12_image
0,49.5,985.686598,1016.224249,39.024442,39.57766,0.054492,0.051303,0.324389,0.336992

In [12]:
print("Mean")
print(ours_5_10_unsup_dataset1.mean(), "\n")
print("Std")
print(ours_5_10_unsup_dataset1.std())

Mean
index                   54.000000
mse_before             728.184672
mse12                  717.400586
tre_before              33.829105
tre12                   33.460672
mse12_image_before       0.041214
mse12_image              0.039297
ssim12_image_before      0.338107
ssim12_image             0.372598
dtype: float64

Std
index                   31.609598
mse_before             611.837202
mse12                  604.128835
tre_before              15.057824
tre12                   15.039939
mse12_image_before       0.024520
mse12_image              0.024900
ssim12_image_before      0.098887
ssim12_image             0.094652
dtype: float64

In [17]:
pd.DataFrame(ours_5_10_unsup_dataset1.mean()).transpose()

,index,mse_before,mse12,tre_before,tre12,mse12_image_before,mse12_image,ssim12_image_before,ssim12_image
0,54.0,728.184672,717.400586,33.829105,33.460672,0.041214,0.039297,0.338107,0.372598

In [ ]:
DHR_sup = pd.read_csv("output/DHR_11100_0.001_0_10_1_20231031-151024_test/metrics.csv")
pd.DataFrame(ours_5_10_unsup_dataset1.mean()).transpose()